 <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <swiper-container
  slides-per-view="4"
  space-between="10"
  pagination="true"
  loop="true"
>

<swiper-slide *ngFor="let album of albums">
    <div class="slide-content">
      <img [src]="album.image"/>
      <p>{{ album.name }}</p>
    </div>
</swiper-slide> 

</swiper-container>

<div [style.background-color]="'var(--color-oscuro)'"></div>



<ion-button expand="block" (click)="toggleTheme()">
  Cambiar tema
</ion-button>

<div>
  <ion-button (click)="cambiarColor()">Cambiar Tema y Guardar </ion-button>

</div>

</ion-content>
